body {
    font-family: serif;
    font-size: 48px;
    background-color: crimson;
    margin: 2em;

  }

  .title-box {
      font-family: Spectral;
      color:beige;
      background-blend-mode: lighten;
  }

  .message {
      color: cornsilk;
      padding-left: 1em;
  }

  footer p {
      font-family: Spectral;
      font-size: small;
      color: bisque;
  }


  .all{
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.5);
}

  @media only screen and (max-device-width: 480px) {
    body {
        font-size: 32px;
        margin: .5em;
      }
  }